<%= form_for [ @user] do |f| %>
  <div class="form-group">
   <label for="inputPassword" class="col-sm-1 control-label">
       <%= f.label :twitter%>
   </label>
      <%= f.text_field :twitter_url, class: 'form-control'%>
      <label for="inputPassword" class="col-sm-1 control-label">
       <%= f.label :instagram%>
   </label>
      <%= f.text_field :instagram_url, class: 'form-control'%>
    <div class="col-md-2 text-center">
      <%= f.submit "Link to media"%>
    </div>
  </div>
<% end %>
