<%= form_for [@user] do |f| %>
   <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@user.errors.count, "error") %></h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
     <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field  :slug, class: 'form-control', placeholder: "Enter user name no spaces" %>
  </div>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter your first and lastname" %>
  </div>
  <div class="form-group">
    <%= f.label :instagram_url %>
    <%= f.text_field :instagram_url, class: 'form-control', placeholder: "@danlandy" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter_url %>
    <%= f.text_field :twitter_url, class: 'form-control', placeholder: "@danoliverlandy" %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control', placeholder: "http://www.upveil.com" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-sm btn-primary former' %>
  </div>
  <% end %>