$('.product, .flu, .pagination').remove()
$('.product').hide()
history.replaceState(null, "A new title!", "/users/<%= @user.slug %>/following")
$('body').addClass("scrall")
$('.flu').addClass("screal")
$('.page').append("<div class='flu'></div>")
<% @followings.each do |f| %>
  <% if f.followable_type == "Category" && current_user && !Category.find(f.followable_id).followed_by?(current_user)%>
    $('.flu').append( "<p class='hooven'><%=  escape_javascript(fa_icon 'sitemap 1x') %> <%= escape_javascript(link_to( Category.find(f.followable_id).title , category_path(Category.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Follow', category_follow_path(Category.find(f.followable_id)),  class: 'fallow listing', id: f.followable_id, method: :post, remote: :true)) %> </p>")
  <% elsif f.followable_type == "Category" && current_user && Category.find(f.followable_id).followed_by?(current_user)%>
    $('.flu').append( "<p class='hooven'><%=  escape_javascript(fa_icon 'sitemap 1x') %> <%= escape_javascript(link_to( Category.find(f.followable_id).title , category_path(Category.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Unfollow', category_follow_path(Category.find(f.followable_id)),  class: 'fallow listing', id: f.followable_id, method: :post, remote: :true)) %> </p>")
  <% elsif f.followable_type == "User" && current_user && !User.find(f.followable_id).followed_by?(current_user) %>
    $('.flu').append(" <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.followable_id).identity.smallimage %>'>  <%= escape_javascript(link_to( User.find(f.followable_id).name , user_path(User.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Follow', user_follow_path(User.find(f.followable_id)),  class: 'fallaw listing', id: f.followable_id, method: :post, remote: :true)) %></p>")
  <% elsif f.followable_type == "User" && current_user && User.find(f.followable_id).followed_by?(current_user) %>
    $('.flu').append(" <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.followable_id).identity.smallimage %>'>  <%= escape_javascript(link_to( User.find(f.followable_id).name , user_path(User.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Unfollow', user_follow_path(User.find(f.followable_id)),  class: 'fallaw listing', id: f.followable_id, method: :post, remote: :true)) %></p>")
  <% elsif f.followable_type == "Category"%>
    $('.flu').append(" <p class='hooven'>  <%=  escape_javascript(fa_icon 'sitemap 1x') %>  <%= escape_javascript(link_to( Category.find(f.followable_id).title , category_path(Category.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Follow', new_user_session_path,  class: 'fallaw listing', id: f.followable_id)) %></p>")
  <% elsif f.followable_type == "User"%>
    $('.flu').append(" <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.followable_id).identity.smallimage %>'>  <%= escape_javascript(link_to( User.find(f.followable_id).name , user_path(User.find(f.followable_id)), class: 'flowin')) %> <%= escape_javascript(link_to( 'Follow', new_user_session_path,  class: 'fallaw listing', id: f.followable_id)) %></p>")
   <% end %>
<% end %>