
<div class="container">
   <div class="boxsearch" style="">
      <div id="categories" class="col-md-3 pull-left"></div>
      <div id="users" class="col-md-5 pull-right pod"></div>
      <div id="posts" class="col-md-4 pod"></div>
    </div>
  <div class="classy">
    <div class="profile-pic"><%= image_tag(@user.identity.normalimage)%></div>
     <div class="bio">
    <h1 class="h3 text-center font-best maver" style="display: inline-block;">
      <% if current_user == @user %>
         <%= link_to "Edit User",  edit_user_path(@user), class: 'btn btn-xs btn-warning fonter showel' %>
        <% end %>
        <b><%=@user.name %></b>
      </h1>
      <% if current_user && !@user.followed_by?(current_user) %>
           <%= link_to  user_follow_path(@user), class: 'fallaw', id: @user.id , method: :post, remote: :true do %>
              <p>Follow</p>
        <% end %>
      <% elsif current_user && @user.followed_by?(current_user)%>
         <%= link_to  user_follow_path(@user), class: 'fallaw', id: @user.id , method: :post, remote: :true do %>
              <p>Unfollow</p>
        <% end %>
    <% else %>
       <%= link_to  user_follow_path(@user), class: 'fallaw' do %>
          <p>Follow</p>
      <% end %>
    <% end %>
    </br>

    <div class="grouper">
      <%= link_to "Products: #{@user.products.count}", user_path(@user), id: "left", class: "inside" %>
      <%= link_to "Followers: #{@user.followers_count}", user_followers_list_path(@user), class: "inside", id: "left", method: :get, remote: :true %>
      <%= link_to "Following: #{@user.follow_count}", user_following_list_path(@user), class: "inside", id: "right", method: :get, remote: :true %>
    </div>

    <span>Score: <%= HIGHSCORE_LB.score_for(@user.id).to_i %></span>
  </br>
  <div class="text-center boxer">
       <% if @user.instagram_url %>
      <% if @user.instagram_url.length  > 22 && @user.instagram_url != nil %>
        <%= link_to @user.instagram_url, :target => "_blank", class: 'ununder' do%>
           <%= fa_icon "instagram 2x", class: 'colorel' %>
          <% end %>
      <% end %>
    <% end %>

    <% if @user.twitter_url %>
      <% if @user.twitter_url.length  > 19 && @user.twitter_url != nil%>
       <%= link_to @user.twitter_url, :target => "_blank", class: 'ununder' do%>
           <%= fa_icon "twitter 2x", class: 'coloring' %>
          <% end %>
      <% end %>
    <% end %>
    </div>
  <% if @user.website %>
      <% if @user.website.length > 1 %>
       <%= link_to @user.website, :target => "_blank", class: 'url' do%>
           <span class="url" style="
    vertical-align: super; "><%= fa_icon "info-circle", class: 'url' %><%= @user.website %></span>
          <% end %>
      <% end %>
       <% end %>
     </div>
         
  </div>
 <% if @user == current_user && @user.instagram_url.nil? && @user.twitter_url.nil? && @user.website.nil? %>
  <div class='new-social'>
      <h4 class="paddel text-center mediar">Link to your media</h4>
        <%= render "formal" %>
    </div>
     <% end %>
  
   <div class="row">
    <div class="page">
       <div id="loading-indicator" style="display: none;">
         <%= image_tag("http://www.hattricktheatre.net/images/wtagelights.gif", :id => "loading-indicator") %>
        </div>
      <div class="flu">
        <% @followers.each do |f| %>
         <% if current_user && !User.find(f.id).followed_by?(current_user) %>
           <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.id).identity.smallimage %>'>  <%= link_to( User.find(f.id).name , user_path(User.find(f.id)), class: 'flowin') %> <%= link_to( 'Follow', user_follow_path(User.find(f.id)),  class: 'fallaw listing', id:  f.id, method: :post, remote: :true) %></p>
          <% elsif current_user && User.find(f.id).followed_by?(current_user) %>
            <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.id).identity.smallimage %>'>  <%= link_to( User.find(f.id).name , user_path(User.find(f.id)), class: 'flowin') %> <%= link_to( 'Unfollow', user_follow_path(User.find(f.id)),  class: 'fallaw listing',  id: f.id, method: :post, remote: :true) %></p>
          <% else %>
             <p class='hooven'> <img alt='Picture?type=small' src='<%= User.find(f.id).identity.smallimage %>'>  <%= link_to( User.find(f.id).name , category_path(User.find(f.id)), class: 'flowin') %> <%= link_to( 'Follow', new_user_session_path,  class: 'fallaw listing') %></p>
           <% end %>
        <% end %>
      </div>
    </div>
  </div>