<h1 class="h3 text-center font-best">
  <div><%= image_tag(@user.identity.normalimage)%></div>
  <% if current_user == @user %>
     <%= link_to "Edit User",  edit_user_path(@user), class: 'btn btn-xs btn-warning fonter showel' %>
    <% end %>
    <b><%=@user.name %></b>
  </h1>
   <%= render "shared/search" %>
  <p class="text-center pades">Score: <%= HIGHSCORE_LB.score_for(@user.id).to_i %></p>
 <% if @user == current_user && @user.instagram_url.nil? && @user.twitter_url.nil? && @user.website.nil? %>
  <div class='new-social'>
      <h4 class="paddel text-center mediar">Link to your media</h4>
        <%= render "formal" %>
    </div>
     <% end %>
  <div class="text-center">
    <% if @user.instagram_url %>
      <% if @user.instagram_url.length  > 22 && @user.instagram_url != nil %>
        <%= link_to @user.instagram_url, :target => "_blank", class: 'ununder' do%>
           <%= fa_icon "instagram 2x", class: 'colorel' %>
          <% end %>
      <% end %>
    <% end %>

    <% if @user.twitter_url %>
      <% if @user.twitter_url.length  > 19 && @user.twitter_url != nil%>
       <%= link_to @user.twitter_url, :target => "_blank", class: 'ununder' do%>
           <%= fa_icon "twitter 2x", class: 'coloring' %>
          <% end %>
      <% end %>
    <% end %>
    </div>
    <div class="text-center">
    <% if @user.website %>
      <% if @user.website.length > 1 %>
       <%= link_to @user.website, :target => "_blank", class: 'url' do%>
           <span class="url"><%= fa_icon "info-circle", class: 'url' %><%= @user.website %></span>
          <% end %>
      <% end %>
       <% end %>
    </div>
<% if @user.products.first %>
  <div class="row">
    <div class="show-box" id="products">
      <div class="page">
       <%= render @products %>
      </div>
    </div>
   <%= paginate @products %>
  </div>
  <% else %>
    <% if current_user %>
      <% if current_user == @user %>
    <p class="text-center nopro">You have no Products. Help the world unveil the best products and post.</p>
      <% else %>
    <p class="text-center nopro"><%= @user.name %> has not unveiled any products.</p>
       <% end %>
       <% else %>
       <p class="text-center nopro"><%= @user.name %> has not unveiled any products.</p>
    <% end %>
  <% end %>