<div class="row"> 
  <%= render_shareable :buttons=> [ 'facebook', 'twitter', 'reddit', 'pinterest', 'tumblr']  %>
  <div class="col-md-8">
    <%= render partial: 'votes/voter', locals: {product: @product} %>
    <h1><%= @product.title %></h1>
    <small>
      <%= @product.user.name %>
    </small>
    <p>
      <%= image_tag(@product.image.url) %>
      <%= @product.description %>
    </p>
    <div>
      <h3><%= pluralize(@product.points, 'point') %></h3>
      <small>
        <%= pluralize(@product.up_votes, 'up vote') %>
      </small>
    </div>
  </div>
