<% if @subcategories.count > 0 %>
    <div class="btn-group second">
      <div class="sublime">
      <% if @parent.nil? %>
      <% @subcategories.each do |sub| %>
            <%= link_to "#{sub.title}", category_male_path(sub), class: 'btn btn-default b' %>
         <% end %>
         <% elsif @subcategories.first %>
          <% @subcategories.each do |sub| %>
            <%= link_to "#{sub.title}", category_male_path(sub), class: 'btn btn-default b' %>
         <% end %>
        
       <% else %>
       <% if @parentsubcats.count > 1 %>
           <% @parentsubcats.each do |sub| %>
              <%= link_to "#{sub.title}", category_male_path(sub), class: 'cats' %>
           <% end %>
       <% else %>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

<% if @subcategories.count == 0 %>  
<% if @parentsubcats %>
   <% if @parentsubcats.count > 0 %>
    <div class="btn-group second">
      <div class="sublime">
         <% if @category.parent_id %>
        <% if Category.find(@category.parent_id).parent_id %>
           <%= link_to Category.find(@category.parent_id), class: 'posatel btn btn-default b' do%>
           <span><b>Parent:</b> <%=Category.find(@category.parent_id).title %> </span> <%= fa_icon "level-up" %>
            <%end %> 
          <% end %>
          <% end %>
    <% if @parent.nil? %>
    <% @parentsubcats.each do |sub| %>
         <%= link_to "#{sub.title}", category_male_path(sub), class: 'btn btn-default b' %>
       <% end %>
       <% elsif @parentsubcats.first %>
        <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_male_path(sub), class: 'btn btn-default b' %>
       <% end %>
     <% else %>
     <% if @parentsubcats.count > 0 %>
         <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_male_path(sub), class: 'btn btn-default b' %>
         <% end %>
     <% else %>
        <% end %>
      <% end %>
      </div>
    </div>
      <% end %>
      <% end %>
     <% end %>

<% if @parent.nil? %>
<div class="dent">
<% if @subcategories.count == 0 &&   @parentsubcats.nil? || @parentsubcats && @parentsubcats.count == 0 && @subcategories.count == 0 %> 
<div class="banner toply">
  <%else %>
  <div class="banner" >
<% end %>
<% if request.fullpath.index('newest') %>
  <%= link_to category_path(@category), class: 'inliner' do %>
    <%= fa_icon "line-chart", class: "banicon" %></br><span>Look by hottest</span>
  <% end %>
<% else %>
  <%= link_to category_newest_path(@category), class: 'inliner' do %>
    <%= fa_icon "calendar", class: "banicon" %></br><span>Look by newest</span>
  <% end %>
<% end %>
    <% if @category.description && @category.description.length > 0  %>
    <h1 class="h3 titlen"><%=@category.title %>
      <p class="h6 subtitle"><%= @category.description %></p>
    <% else %>
   <h1 class="h3 titlen"><%=@category.title %>
     <% if  @category.parent_id %>
      <% if Category.find(@category.parent_id).parent_id %>
        <p class="h6 subtitle"><%= Product.where(grandcat_id: @category.id).count %> Products Posted</p>
      <% else %>
        <p class="h6 subtitle"><%= Product.where(subcat_id: @category.id).count %> Products Posted</p>
       <% end %>
    <% else %>
    <p class="h6 subtitle"><%= @category.products.count %> Products Posted</p>
    <% end %>
    <% end %>
  </h1>
   <% if @category.title == "Fashion" || @category.gendered %>
   <div class="gendicles">
   <div class="size gender">
      <%= link_to category_female_path(@category), class: 'primal btn btn-default size a'  do %>
       <%= fa_icon "female" %><span class="text">Female</span>
       <% end %>
      <%= link_to category_male_path(@category), class: 'secondal btn btn-default size a male'  do %>
       <%= fa_icon "male" %><span class="text">Male</span>
       <% end %>
    </div>
     </div>

     <% else @parent %> 

    <div class="gendicles">
   <div class="size gender">
      <%= link_to category_female_path(@category), class: 'primal btn btn-default size a'  do %>
       <%= fa_icon "female" %><span class="text">Female</span>
       <% end %>
      <%= link_to category_male_path(@category), class: 'secondal btn btn-default size a male'  do %>
       <%= fa_icon "male" %><span class="text">Male</span>
       <% end %>
    </div>
     </div>
  <%end %>

   <%= link_to  new_category_product_path(@category, @product), class: 'prada' do%>
     <%= fa_icon "gift", class: "banicon" %></br><span>Post Product</span>
  <% end %>
   <% if @category.parent_id %>
        <% if Category.find(@category.parent_id).parent_id %>
        <% else %>
         <%= link_to category_subcategory_new_path(@category), class: 'suber' do %>
                 <%= fa_icon "sitemap", class: "banicon" %></br><span>New Subcategory</span>
          <% end %>
         <% end %>
         <% else %>
         <%= link_to category_subcategory_new_path(@category), class: 'suber' do %>
                 <%= fa_icon "sitemap", class: "banicon" %></br><span>New Subcategory</span>
          <% end %>
         <% end %>
  <% if @category.adult %>
    <p class="plus">18+</p>
  <% end %>
</div>
  </div>


<% else %>

<div class="dent">
<div class="banner">
  <% if request.fullpath.index('newest') %>
  <%= link_to category_path(@category), class: 'inliner' do %>
    <%= fa_icon "line-chart", class: "banicon" %></br><span>Look by hottest</span>
  <% end %>
<% else %>
  <%= link_to category_newest_path(@category), class: 'inliner' do %>
    <%= fa_icon "calendar", class: "banicon" %></br><span>Look by newest</span>
  <% end %>
<% end %>
   <% if current_user %>
        <%if current_user == @category.user || current_user.id == 1 || current_user.id == 2  %>
          <%= link_to edit_category_path(@category), class: 'edito' do %>
            <%= fa_icon "edit", class: "banicon" %></br><span>Edit</span>
          <% end %>
        <% end %>
      <% end %>
    <% if @category.description && @category.description.length > 0 %>
    <h1 class="h3 titlen"><%=@category.title %>
      <p class="h6 subtitle"><%= @category.description %></p>
    <% else %>
   <h1 class="h3 titlen"><%=@category.title %>
    <% if  @category.parent_id %>
      <% if Category.find(@category.parent_id).parent_id %>
        <p class="h6 subtitle"><%= Product.where(grandcat_id: @category.id).count %> Products Posted</p>
      <% else %>
        <p class="h6 subtitle"><%= Product.where(subcat_id: @category.id).count %> Products Posted</p>
       <% end %>
    <% else %>
    <p class="h6 subtitle"><%= @category.products.count %> Products Posted</p>
    <% end %>
    <% end %>
  </h1>
   <% if @category.title == "Fashion" || @category.gendered %>
   <div class="gendicles">
   <div class="size gender">
      <%= link_to category_female_path(@category), class: 'primal btn btn-default size a'  do %>
       <%= fa_icon "female" %><span class="text">Female</span>
       <% end %>
      <%= link_to category_male_path(@category), class: 'secondal btn btn-default size a male'  do %>
       <%= fa_icon "male" %><span class="text">Male</span>
       <% end %>
    </div>
     </div>
     <% else @parent %> 
    <div class="gendicles">
   <div class="size gender">
      <%= link_to category_female_path(@category), class: 'primal btn btn-default size a'  do %>
       <%= fa_icon "female" %><span class="text">Female</span>
       <% end %>
      <%= link_to category_male_path(@category), class: 'secondal btn btn-default size a male'  do %>
       <%= fa_icon "male" %><span class="text">Male</span>
       <% end %>
    </div>
     </div>

          <%end %>
          <% if @category.secret %>
          <% else %>
          <% if @category.user %>
          <%= link_to @category.user do%>
           <% if @category.parent_id %>
        <% if Category.find(@category.parent_id).parent_id %>
          <p class="mod push"><span class="badge">M</span>
        <% else %>
            <p class="mod"><span class="badge">M</span>
        <% end %>
          <% else %>
          <p class="mod"><span class="badge">M</span>
         <% end %>
             <span class="rator"><%= image_tag(@category.user.identity.smallimage) %></span>
            </p>
            <% end %>
          <% end %>
          <% end %>


   <%= link_to  new_category_product_path(@category, @product), class: 'prada' do%>
     <%= fa_icon "gift", class: "banicon" %></br><span>Post Product</span>
  <% end %>
   <% if @category.parent_id %>
        <% if Category.find(@category.parent_id).parent_id %>
        <% else %>
         <%= link_to category_subcategory_new_path(@category), class: 'suber' do %>
                 <%= fa_icon "sitemap", class: "banicon" %></br><span>New Subcategory</span>
          <% end %>
         <% end %>
         <% else %>
         <%= link_to category_subcategory_new_path(@category), class: 'suber' do %>
                 <%= fa_icon "sitemap", class: "banicon" %></br><span>New Subcategory</span>
          <% end %>
         <% end %>

  <% if @category.adult %>
    <p class="plus">18+</p>
  <% end %>

</div>
</div>
<% end %>



<div class="container">
     <div class="boxsearch" style="">
      <div id="categories" class="col-md-3 pull-left"></div>
      <div id="users" class="col-md-5 pull-right pod"></div>
      <div id="posts" class="col-md-4 pod"></div>
    </div>


<div class="row">

 <div class = "outerfixed" >
      <div class = "interstatic">
        <%= link_to "Post New Product", new_product_path(@product), class: 'btn btn-primary btn-xs to-right' %>
     <div class="leaderboard">
           <table class="table table-striped table-hover fixer">
              <thead>
                <tr>
                   <th colspan="2" class="names">Top Users</th>
                   <th class="names">Score</th>
                </tr>
              </thead>
              <tbody>
                 <% @leaders.each do |leader| %>
                   <% user = User.friendly.find(leader[:member].to_i) %>
                   <% rank = leader[:rank].to_i %>
                <tr>
                  <td class="td"><%= rank %></td>
                  <td>
                    <%= link_to [user] do %>
                      <%= image_tag(user.identity.smallimage)%><p class="names"><%= user.name %></p>
                    <% end %>
                  </td>
                  <td class="td"><%= leader[:score].to_i %></td>
                </tr>
                <% end %>
            </tbody>
          </table> 
    </div>
  </div>
</div>