<div class="cat-buttons">
      <% if current_user %>
        <%if current_user == @category.user || current_user.id == 1 || current_user.id == 2  %>
          <p><%= link_to "Edit Category",  edit_category_path(@category), class: 'btn btn-xs btn-warning cat-fonter' %></p>
        <% end %>
      <% end %>
    </div>
    
<% if @parent.nil? %>
<h1 class="h3 titlen text-center"><b><%=@category.title %></b><br>
  <% if @category.description %>
    <p class="h6 subtitle"><%= @category.description %></p>
  <% else %>
  <p class="h6 subtitle">Best Products</p>
  <% end %>
</h1>
<% else %>
<h1 class="h3 titlen text-center"><p class="parent"><%= link_to @category.parent_category.title, category_male_path(@category.parent_category) %></p><b><%=@category.title %></b><br>
  <% if @category.description %>
    <p class="h6 subtitle"><%= @category.description %></p>
  <% else %>
   <p class="h6 subtitle">Best Products Related to <%=@category.title %></p>
  <% end %>
</h1>
<% end %>
<% if @category.secret %>
<% else %>
<% if @category.user %>
  <p class="text-center mod">Moderator: <%= link_to @category.user do%>
   <span><%= @category.user.name %></span>
  </p>
  <% end %>
<% end %>
<% end %>

  <div class="text-center">
      <div class="btn-group size gender">
          <%= link_to category_female_path(@category), class: 'btn btn-default size a'  do %>
         <%= fa_icon "female" %><span>Female</span>
         <% end %>
          <%= link_to category_male_path(@category), class: 'btn btn-default size a male'  do %>
         <%= fa_icon "male" %><span>Male</span>
         <% end %>
      </div>
    </div>
    
 <% if @subcategories.count > 0 %>
   <div class="text-center">
    <p class="subcats">Top Subcategories:</p>
    <div class="btn-group size paddie closer">
    <% if @parent.nil? %>
    <% @subcategories.each do |sub| %>
         <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
       <% end %>
       <% elsif @subcategories.first %>
        <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
       <% end %>
     <% else %>
     <% if @parentsubcats.count > 1 %>
         <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
         <% end %>
     <% else %>
        <% end %>
      <% end %>
    </div>
    </div>


    <div class="mobiler paddie">
       <% if @parent.nil? %>
         <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
       <% elsif @subcategories.first %>
        <% @subcategories.each do |sub| %>
             <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
       <% else %>
       <% if @parentsubcats.count > 1 %>
         <% @parentsubcats.each do |sub| %>
              <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
         <% end %>
        <% end %>
       <% end %>
    </div>
  <% end %>

<% if @subcategories.count == 0 %>
 <% if @parentsubcats %>
 <% if @parentsubcats.count > 0 %>
   <div class="text-center">
    <p class="subcats">Top Subcategories:</p>
    <div class="btn-group size paddie closer">
    <% if @parent.nil? %>
    <% @parentsubcats.each do |sub| %>
         <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
       <% end %>
       <% elsif @parentsubcats.first %>
        <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
       <% end %>
     <% else %>
     <% if @parentsubcats.count > 0 %>
         <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default b' %>
         <% end %>
     <% else %>
        <% end %>
      <% end %>
    </div>
    </div>


    <div class="mobiler paddie">
       <% if @parent.nil? %>
         <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
       <% elsif @subcategories.first %>
        <% @subcategories.each do |sub| %>
             <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
       <% else %>
       <% if @parentsubcats.count > 1 %>
         <% @parentsubcats.each do |sub| %>
              <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
         <% end %>
        <% end %>
       <% end %>
    </div>
  <% end %>
  <% end %>
  <% end %>

   <%= render "shared/search" %>
<div class="row">

 <div class = "outerfixed" >
      <div class = "interstatic">
        <%= link_to "Post New Product", new_product_path(@product), class: 'btn btn-primary btn-xs to-right' %>
     <div class="leaderboard">
           <table class="table table-striped table-hover fixer">
              <thead>
                <tr>
                   <th colspan="2" class="names">Top Users</th>
                   <th class="names">Score</th>
                </tr>
              </thead>
              <tbody>
                 <% @leaders.each do |leader| %>
                   <% user = User.friendly.find(leader[:member].to_i) %>
                   <% rank = leader[:rank].to_i %>
                <tr>
                  <td class="td"><%= rank %></td>
                  <td>
                    <%= link_to [user] do %>
                      <%= image_tag(user.identity.smallimage)%><p class="names"><%= user.name %></p>
                    <% end %>
                  </td>
                  <td class="td"><%= leader[:score].to_i %></td>
                </tr>
                <% end %>
            </tbody>
          </table> 
    </div>
  </div>
</div>