<%= link_to "Look by Newest",  category_female_newest_path(@category), class: 'btn btn-xs btn-primary mobile-button hay' %>
<% if @parent.nil? %>
<h1 class="h3 titlen text-center"><b><%=@category.title %></b><br><p class="h6 subtitle">Best Products</p></h1>
<% else %>
<h1 class="h3 titlen text-center"><b><%=@category.title %></b><br><p class="h6 subtitle">Best Products related to <%=@category.title %></p></h1>
<% end %>

 <div class="row">

      <div class="btn-group btn-group-justified size">
          <%= link_to category_female_path(@category), class: 'btn btn-default size female'  do %>
         <%= fa_icon "female" %><span>Female</span>
         <% end %>
        <%= link_to category_male_path(@category), class: 'btn btn-default size'  do %>
         <%= fa_icon "male" %><span>Male</span>
         <% end %>
      </div>
    
  <% if @parent.nil? %>
  <div class="btn-group btn-group-justified size">
    <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default size' %>
       <% end %>
    </div>
    <div class="mobiler">
         <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
  <% else %>
    <div class="btn-group btn-group-justified size">
    <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default size' %>
      <% end %>
     </div>
     <div class="mobiler">
         <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_female_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
 </div>
<% end %>

 <div class = "outerfixed" >
      <div class = "interstatic">
        <%= link_to "New Product", new_product_path(@product), class: 'btn btn-primary btn-xs to-right' %>
     <div class="leaderboard">
           <table class="table table-striped table-hover fixer">
              <thead>
                <tr>
                   <th colspan="2" class="names">Top Users</th>
                   <th class="names">Score</th>
                </tr>
              </thead>
              <tbody>
                 <% @leaders.each do |leader| %>
                   <% user = User.friendly.find(leader[:member].to_i) %>
                   <% rank = leader[:rank].to_i %>
                <tr>
                  <td class="td"><%= rank %></td>
                  <td>
                    <%= link_to [user] do %>
                      <%= image_tag(user.identity.smallimage)%><p class="names"><%= user.name %></p>
                    <% end %>
                  </td>
                  <td class="td"><%= leader[:score].to_i %></td>
                </tr>
                <% end %>
            </tbody>
          </table> 
    </div>
  </div>
</div>


    <div class="show_box newer" id="products"> 
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>

 

  <%= paginate @products %>
    