<% if @parent.nil? %>
<h1 class="h3 text-center"><b><%=@category.title %></b><br><p class="h6">Best Products</p></h1>
<% else %>
<h1 class="h3 text-center"><b><%=@category.title %></b><br><p class="h6">Best Products related to <%=@category.title %></p></h1>
<% end %>
 <%= link_to "New Product", new_product_path(@product), class: 'btn btn-success pull-right' %>
 <div class="row">
  <div class="container block-center">
  <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default' %>
       <% end %>
 </div>
 </div>
      
<div class="row">
  <div class="col-md-8">
    <% if @parent.nil? %>
    <% @category.products.each do |product| %>
      <%= render product %>
      <% end %>
    <% else %>
    <% @category.subproducts.each do |product| %>
      <%= render product%>
    <% end %>
    <% end %>
  </div>
</div>