<% if @parent.nil? %>
<h1 class="h3 text-center"><b><%=@category.title %></b><br><p class="h6">Best Products</p></h1>
<% else %>
<h1 class="h3 text-center"><b><%=@category.title %></b><br><p class="h6">Best Products related to <%=@category.title %></p></h1>
<% end %>
 <div class="row">
  <div class="btn-group btn-group-justified size">
    <% if @category.gender %>
    <div class="male">
     <% Category.all.where(gender:"male").each do |sub| %>
     <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
     <% end %>
    </div>
    <div class="female">
     <% Category.all.where(gender:"female").each do |sub| %>
     <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
     <% end %>
    </div>
    <% elsif %>
  <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
       <% end %>
  <% if @parent.nil? %>
  <% else %>
    <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
      <% end %>
    <% end %>
    <% end %>
 </div>
 </div>
  <%= link_to "New Product", new_product_path(@product), class: 'btn btn-success btn-xs pull-right to-right' %>
      
<div class="show_box">
    <% if @parent.nil? %>
    <% @category.products.each do |product| %>
      <%= render product %>
      <% end %>
    <% else %>
    <% @category.subproducts.each do |product| %>
      <%= render product%>
    <% end %>
    <% end %>
</div>