<a class="btn btn-xs btn-primary hotter mobile-button spay" id= "hotter">Look by Hottest</a>
<a class="btn btn-xs btn-primary newer mobile-button spay" id= "newer">Look by Newest</a>

<% if @parent.nil? %>
<h1 class="h3 titlen text-center"><b><%=@category.title %></b><br><p class="h6 subtitle">Best Products</p></h1>
<% else %>
<h1 class="h3 titlen text-center"><b><%=@category.title %></b><br><p class="h6 subtitle">Best Products related to <%=@category.title %></p></h1>
<% end %>

 <div class="row">

  <% if @category.title == "Fashion" %>

    <div class="btn-group btn-group-justified size gender">
      <a href= "#" class="btn btn-default size female"><%= fa_icon "female" %>Female </a>
      <a href= "#" class="btn btn-default size male"><%= fa_icon "male" %>Male </a>
    </div>

    <% elsif @category.title == "Lingerie" %>

      <div class="btn-group btn-group-justified size gender">
      <a href= "#" class="btn btn-default size"> Female </a>
     </div>

     <% else @parent %> 

        <% if @parent != nil && @subcatparent.title == "Fashion" %>

      <div class="btn-group btn-group-justified size gender">
        <a href= "#" class="btn btn-default size female"> <%= fa_icon "female" %>Female </a>
        <a href= "#" class="btn btn-default size male"><%= fa_icon "male" %>Male </a>
      </div>

      <%end %>

    <%end %>
    
    <% if @category.title == "Fashion" %>
     <div class="elo">
      <div class="btn-group size nongender btn-group-justified">
         <% @subcategories.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
         <% end %>
      </div>
    </div>
    <div class="elo">
      <div class="btn-group btn-group-justified size females">
         <% @subcategories.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
         <% end %>
      </div>
     </div>
    <div class="mobiler">
      <div class = "females">
           <% @subcategories.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
         <% end %>
    </div>
  </div>
    <div class="elo">
      <div class="btn-group size males btn-group-justified">
         <% @subcategories.where(:gender => nil).each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
         <% end %>
      </div>
    </div>
    <div class ="mobiler">
      <div class="males">
           <% @subcategories.where(:gender => nil).each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
         <% end %>
      </div>
  </div>
  <% elsif @parent.nil? %>
  <div class="btn-group btn-group-justified size">
    <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
       <% end %>
    </div>
    <div class="mobiler">
         <% @subcategories.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
  <% else %>
     <% if @parent != nil && @subcatparent.title == "Fashion"  %>
      <div class="btn-group btn-group-justified size nongender">
         <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
         <% end %>
      </div>
     <div class ="elo">
     <div class="btn-group btn-group-justified size females">
      <% @parentsubcats.each do |sub| %>
              <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
        <% end %>
      </div>
    </div>
     <div class="mobiler">
       <div class="females">
         <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
     </div>
      <div class="btn-group btn-group-justified size males elo">
    <% @parentsubcats.where(:gender => nil).each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
      <% end %>
    </div>
    <div class="mobiler">
    <div class="males">
         <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
    </div>
    <% else %>
    <div class="btn-group btn-group-justified size">
    <% @parentsubcats.each do |sub| %>
            <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default size' %>
      <% end %>
     </div>
     <div class="mobiler">
         <% @parentsubcats.each do |sub| %>
          <%= link_to "#{sub.title}", category_path(sub), class: 'btn btn-default spacer' %>
       <% end %>
    </div>
    <% end %>
  <% end %>
 </div>
 <div class = "outerfixed" >
      <div class = "interstatic">
        <%= link_to "New Product", new_product_path(@product), class: 'btn btn-primary btn-xs to-right' %>
     <div class="leaderboard">
      <% if current_user && Product.first !=nil %>
           <table class="table table-striped table-hover fixer">
              <thead>
                <tr>
                   <th colspan="2" class="names">Top Users</th>
                   <th class="names">Score</th>
                </tr>
              </thead>
              <tbody>
                 <% @leaders.each do |leader| %>
                   <% user = User.friendly.find(leader[:member].to_i) %>
                   <% rank = leader[:rank].to_i %>
                <tr>
                  <td class="td"><%= rank %></td>
                  <td>
                    <%= link_to [user] do %>
                      <%= image_tag(user.identity.smallimage)%><p class="names"><%= user.name %></p>
                    <% end %>
                  </td>
                  <td class="td"><%= leader[:score].to_i %></td>
                </tr>
                <% end %>
            </tbody>
          </table> 
      <% end %>
    </div>
  </div>
</div>
 <% if @parent.nil? %>
  <% if @category.title == "Fashion" %>

  <div class="show_box nongender" id="products">
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>

    <div class="males">
      <%= render :partial => "male" %>
    </div>

     <div class="females">
      <%= render :partial => "female" %>
    </div>    

    <% else %>
    <div class="show_box newer" id="products">
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>
    <% end %>

    <% else %>
   <% if @subcatparent.title == "Fashion"  %>

     <div class="show_box nongender" id="products">
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>

    <div class="males">
      <%= render :partial => "male" %>
    </div>

     <div class="females">
      <%= render :partial => "female" %>
    </div>    


    <% else %>
    <div class="show_box newer" id="products"> 
      <div class="page">
      <% @products.all.each do |product| %>
       <%= render product %>
       <% end %>
      </div>
    </div>
    <% end %>
    <% end %>

 <% if @parent.nil? %>
     <% if @category.title == "Fashion" %>
       <div class="show_box nongender">
      <div class="page">
        <%= render :partial => 'products/product', :collection => @unscope%> 
      </div>
    </div>
     <div class="males">
      <div class="show_box hotter">
        <div class="page">
          <%= render :partial => 'products/product', :collection => @unscopemale%> 
        </div>
      </div>
    </div>

    <div class="females">
       <div class="show_box hotter">
        <div class="page">
        <%= render :partial => 'products/product', :collection => @femaleunscope%>
        </div>
      </div>
    </div>

    <% else %>

    <div class="show_box hotter">
        <div class="page">
          <% @unscope.all.each do |product| %>
           <%= render product %>
          <% end %>
          </div>
      </div>
    <% end %>

    <% else %>
   <% if @subcatparent.title == "Fashion"  %>
    <div class="show_box nongender">
      <div class="page">
        <%= render :partial => 'products/product', :collection => @unscope%> 
      </div>
    </div>
    
    <div class="males">
      <div class="show_box hotter">
        <div class="page">
          <%= render :partial => 'products/product', :collection => @unscopemale%> 
        </div>
      </div>
    </div>

    <div class="females">
       <div class="show_box hotter">
        <div id="page">
        <%= render :partial => 'products/product', :collection =>  @femaleunscope%>
        </div>
      </div>
    </div>

    <% else %>

    <div class="show_box hotter">
        <div class="page">
        <% @unscope.all.each do |product| %>
           <%= render product %>
          <% end %>
          </div>
      </div>

    <% end %>
    <% end %>
  <% if @products != nil %>
    <% if @parent %>
       <% if @subcatparent.title == "Fashion" %>
      <% else %>
        <%= paginate @products %>
      <% end %>
    <%else %>
      <% if @category.title == "Fashion" %>
      <% else %>
          <%= paginate @products %>
      <% end %>
    <% end %>
  <% end %>
