<% if @activities.first %>
<span class="noty"><%= @activities.count.to_i %></span>
<li class="no-marg"> <p class="clike"><a href="#"><%= fa_icon "bell", class: 'clike no-pad' %></a></p>
                  <ul class="camo">
                    <div class="topfull">
                    <div class="scrolly">
                      <li class="notes camo ololo text-center">
                        <%= link_to "Mark as read", application_read_all_notification_path, method: :post, class: 'marker'%>
                      </li>
                    <% @activities.each do |activity| %>
                      <li class= "notes camo ooo">
                        <% if activity.trackable_type == "Category"%>
                         <%= link_to activity.trackable, class: 'fb-li' do  %>
                         <span>
                        <%= render_activity activity %>
                        </span>
                       <% end %>
                        <% else %>
                         <%= link_to [activity.trackable.category, activity.trackable] , class: 'fb-li' do%> 
                        <span>
                        <%= render_activity activity %>
                        </span>
                       <% end %>
                       <% end %>
                      </li>
                    <% end %>
                    </div>
                    </div>
                </ul>
          </li>
      <% else %>
                       <li class="no-marg"> <%= link_to (fa_icon "bell"), activities_path  %>
                       </li>
      <% end %>