<% if @activities.first %>
<span class="noty"><%= @activities.count.to_i %></span>
<li class="no-marg"> <a href="#" class="clike"><%= fa_icon "bell", class: 'clike' %></a>
                  <ul class="camo">
                    <div class="topfull">
                    <div class="scrolly">
                      <li class="notes camo ololo text-center">
                        <%= link_to "Mark as read", application_read_all_notification_path, method: :post, class: 'marker'%>
                      </li>
                    <% @activities.each do |activity| %>
                      <li class= "notes camo ooo">
                         <%= link_to [activity.trackable.category, activity.trackable] , class: 'fb-li' do%> 
                        <span>
                        <%= render_activity activity %>
                        </span>
                       <% end %>
                      </li>
                    <% end %>
                    </div>
                    </div>
                </ul>
          </li>
      <% else %>
                       <li class="no-marg"> <%= link_to (fa_icon "bell"), activities_path  %>
                       </li>
      <% end %>