<div class="product">
  <div class="user_tag user_names link_color">
    <% if product.category.adult %>
    <% else %>
      <%= link_to product.user do %>
      <span class="hider">
        <%= image_tag(product.user.identity.smallimage)%>
      </span>
        <p> <%= product.user.name %></p>
      <% end %>
    <% end %>
    <p class="time"><%= time_ago_in_words(product.created_at) %> ago</p>
    <%= render partial: 'votes/voter', locals: {product: product} %>
  </div>
  <div class="product_box">
    <%= link_to [product.category, product] do %>
      <div class="image_box">
        <%= image_tag(product.image.url(:thumb), :class => "image")%>
      </div>
      <% end %>
      <% if product.description != ""%>
        <div class="title"> <div class="money">$<%= product.price %></div><div class="menter"> <%= link_to [product.category, product], :class => "white" do %>
        <%= fa_icon "comment-o" %><%= product.comments.count %>
        </div>
        <% end %><div class="tighter"><span><%= link_to (product.title), [product.category, product], :class => "golder" %></div></span></div>
          <span><p class="description"><%= product.description %></p></span>
        <% else %>
        <div class="titler"> <div class="money">$<%= product.price %></div>
        <div class="menter"><%= link_to [product.category, product], :class => "white" do %>
        <%= fa_icon "comment-o" %><%= product.comments.count %>
        </div>
        <% end %>
        <div class="tighter"><span><%= link_to (product.title), [product.category, product], :class => "golder" %></div></span></div>
         <% end %>
  </div>
</div>