<div class="product">
  <div class="user_tag user_names link_color">
    <%= link_to product.user do %>
    <span class="hider"><%= image_tag(product.user.identity.smallimage)%></span>
      <p> <%= product.user.name %></p>
    <% end %>
    <%= render partial: 'votes/voter', locals: {product: product} %>
  </div>
  <div class="product_box">
    <%= link_to [product.category, product] do %>
      <div class="image_box">
        <%= image_tag(product.image.url(:thumb), :class => "image")%>
      </div>
        <div class="title"> <span class="money">$<%= product.price %></span><div class="tighter"><span><%= link_to (product.title), [product.category, product], :class => "golder" %></div></span></div>
        <% if product.description != ""%>
          <p class="description"><%= product.description %></p>
        <% end %>
      <% end %>
  </div>
</div>