  <%= link_to "Look by Newest",  products_newest_path, class: 'btn btn-xs btn-primary mobile-button hay' %>
    <h1 class="text-center font-best">All<br><p class="h6">The Newest and Best Products</p></h1>
    <div class = "outerfixed" >
      <div class = "interstatic">
        <%= link_to "Post New Product", new_product_path(@product), class: 'btn btn-primary btn-xs to-right' %>
         <%= link_to "New Category", new_category_path, class: 'btn btn-primary btn-xs fuller' %>
        <div class="leaderboard">
               <table class="table table-striped table-hover fixer">
                  <thead>
                    <tr>
                      <th colspan="2" class="names">Top Users</th>
                      <th class="names">Score</th>
                    </tr>
                  </thead>
                   <tbody>
                     <% @leaders.each do |leader| %>
                       <% user = User.friendly.find(leader[:member].to_i) %>
                       <% rank = leader[:rank].to_i %>
                    <tr>
                      <td class="td"><%= rank %></td>
                      <td>
                        <%= link_to [user] do %>
                          <%= image_tag(user.identity.smallimage)%><p class="names"><%= user.name %></p>
                        <% end %>
                      </td>
                      <td class="td"><%= leader[:score].to_i %></td>
                    </tr>
                   <% end %>
                </tbody>
              </table> 
        </div>
      </div>
    </div>

<input class="typeahead" type="text" placeholder="Search for users by name, company, ..." id="category-search" spellcheck="false" />

<!-- JQuery -->
<script src="//cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
<!-- Typahead.js is used to display the auto-completion menu -->
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<!-- Algolia -->
<script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Replace the following values by your ApplicationID and ApiKey.
    var client = new AlgoliaSearch("KFIEIP3I48", "7fffa97e4921141462636272ef5738ea"); // public credentials
    var index = client.initIndex('Category');

    // typeahead.js initialization
    $('#category-search').typeahead({ hint: false }, {
      source: index.ttAdapter({ hitsPerPage: 5 }),
      displayKey: 'title',
      templates: {
        suggestion: function(hit) {
          // render the hit
          return '<div class="hit">' +
            '<div class="title">' +
              '<%= link_to hit._highlightResult.title.value, category_path(hit._highlightResult.id) %>' + ' ' +
            '</div>' +
          '</div>';
        }
      }
    });
  });
</script>


<div class="row">
  <div class="show-box" id="products">
    <div class="page">
     <%= render @products %>
    </div>
  </div>
<%= paginate @products %>
</div>

