<div class="vote-arrows">
    <div>
      <% if current_user %>
        <% if product.already_up_voted_by_user?(current_user) %>
          <%= link_to product_up_vote_path(product), class: "galdie", method: :post, remote: :true do%>
            <%= fa_icon "chevron-up", id: "upvote-#{product.id}", class: "upvate" %>
             <% end %>
          <% else %>
          <%= link_to product_up_vote_path(product), class: "gradie", method: :post, remote: :true do%>
            <%= fa_icon "chevron-up", id: "upvote-#{product.id}", class: "upvate" %>
         <% end %>
          <% end %>
      </div>
    <div><strong id="vote-<%=product.id%>"><%= product.points %></strong></div>
    <div>
      <% if product.already_down_voted_by_user?(current_user) %>
          <%= link_to product_down_vote_path(product), class: "galdie", method: :post, remote: :true do%>
            <%= fa_icon "chevron-down", id: "downvote-#{product.id}", class: "upvate" %>
             <% end %>
          <% else %>
          <%= link_to product_down_vote_path(product), class: "gradie", method: :post, remote: :true do%>
            <%= fa_icon "chevron-down", id: "downvote-#{product.id}", class: "upvate" %>
         <% end %>
          <% end %>
    </div>
    <% else %>
      <%= link_to product_up_vote_path(product),  class: "gradie", method: :post do%>
            <%= fa_icon "chevron-up", class: "upvate" %>
      <% end %>
    </div>
    <div><strong style="
    color: #666666;"><%= product.points %></strong></div>
    <div>
      <%= link_to product_down_vote_path(product), class: "gradie", method: :post do%>
            <%= fa_icon "chevron-down", class: "upvate" %>
         <% end %>
    </div>
    <% end %>
  </div>