<!DOCTYPE html>
<html>
<head>
  <title>Upveil</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Upveil find the coolest and newest products.">
  <%= favicon_link_tag '/images/favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56799673-1', 'auto');
  ga('require', 'displayfeatures');    
  ga('send', 'pageview');

</script>
  <div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   <p class="navbar-brand"><b><%= link_to "Upveil", root_path, class: 'non_line' %></b></p>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
                 <%= link_to current_user, class: 'btn btn-link' do %>
                  <li><%= image_tag(current_user.identity.smallimage)%></li>
                  <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-link smallest' do %>
                  <li>Log out</li>
                  <% end %>
                <% else %>
                    <%= link_to new_user_session_path, class: 'btn btn-link' do%>
                      <li>Sign in</li>
                    <% end %>
                <% end %>
    </ul>
    <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "All", root_path%></li>
        <li><%= link_to Category.find(1) do%>
         <%= fa_icon "plug" %><%= Category.find(1).title %>
        <% end %>
        <li><%= link_to Category.find(2) do%>
         <img src="/images/teeshirt.png" height="21px" width="25px" class="fashion"><%= Category.find(2).title %>
        <% end %>
        </li>
        <li><%= link_to Category.find(3) do%>
         <%= fa_icon "car" %><%= Category.find(3).title %>
        <% end %>
        </li>
        <li><%= link_to Category.find(4) do%>
         <%= fa_icon "futbol-o" %><%= Category.find(4).title %>
        <% end %>
        </li>
         <li><%= link_to Category.find(5) do%>
         <%= fa_icon "home" %><%= Category.find(5).title %>
        <% end %>
        </li>
         <li><%= link_to Category.find(6) do%>
         <%= fa_icon "cutlery" %><%= Category.find(6).title %>
        <% end %>
        </li>
    </ul>
      </div>
  </div>
</div>
 <%= mail_to "contact@upveil.com","contact@upveil.com", class: 'email' %>
 <div class="container">
   <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
<%= yield %>
  </div>
</body>
</html>
